<div class="navbar">
  <div class="nav-wrapper">
    <div class="logo-container">
      <img src="/images/logo.png" alt="logo">
      <h1>MATERIALS</h1>
    </div>
    <ul>
      {{#if user}}
        <div class="user-icons">
          <h4>Welcome, {{user.name}}</h4>
          <a href="/profile"><img src='../images/library.png'></a>
          <a href="/logout">Log out</a>
        </div>
      {{else}}
        <li id="sign-up"><a href="/">Sign up</a></li>
        <li id="log-in">Log in</li>
      {{/if}}
    </ul>
  </div>
</div>