<div class="container">
  <div class="wrapper">
    <div class="graphic">
      <img src="/images/building.png" alt="image of 3D sphere">
    </div>
    <div class="create-account">
      <h1>Create a new account!</h1>
      <form action="/userRoutes" method="POST" id="user-login">
        <label>Name:</label>
        <input type="text" name="name" required="true" placeholder="Enter your name">
        <label>Email:</label>
        <input type="email" name="email" required="true" placeholder="Enter your Email">
        <label>Password:</label>
        <input type="password" name="password" required="true" placeholder="Enter a new password">
        <button>Create Account</button>
      </form>
      {{#if message}}
        <h3>{{message}}</h3>
      {{/if}}
    </div>
  </div>
</div>
