@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  font: 'Lato'; }

body {
  padding: 0px;
  margin: 0px; }

a {
  color: #00B7FF; }

.navbar {
  background: #102e4a;
  width: 100%;
  height: 80px;
  float: left;
  display: flex;
  justify-content: center; }

.nav-wrapper {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between; }

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo-container img {
  width: 70px;
  height: 70px; }

.logo-container h1 {
  color: #c476f7;
  font-family: 'Lato';
  font-size: 38px; }

.nav-wrapper ul {
  height: 80px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-wrapper ul li {
  background: #a682ff;
  margin: 10px;
  padding: 10px 20px;
  list-style: none;
  font-family: 'Lato';
  border-radius: 3px;
  color: white; }

.nav-wrapper ul li a {
  text-decoration: none;
  font-family: 'Lato';
  border-radius: 3px;
  color: white; }

.nav-wrapper ul li:hover {
  cursor: pointer; }

.container {
  background: #0077ff;
  background: linear-gradient(90deg, #43167c 0%, #105ac9 50%, #00d4ff 100%);
  width: 100%;
  height: 650px;
  float: left; }

.wrapper {
  width: 80%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.create-account {
  width: 330px;
  height: 420px;
  justify-content: space-around;
  align-items: center;
  overflow: hidden; }

.singup-or-login {
  width: 630px;
  height: 420px;
  display: flex;
  justify-content: space-between; }

.singup-or-login form {
  float: left; }

.create-account h1 {
  color: white;
  font-family: 'Lato';
  font-size: 30px;
  padding: 0px;
  margin: 0px 0px 20px 0px; }

.create-account h3 {
  color: white;
  font-family: 'Lato';
  font-size: 20px;
  padding: 0px;
  margin: 0px 0px 20px 0px; }

#user-signup, #user-login {
  width: 300px;
  height: 400px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column; }

#user-signup input, #user-login input {
  height: 30px;
  margin: 5px 0px 25px 0px;
  padding: 5px 10px;
  border: none;
  border-radius: 1px;
  font-size: 15px;
  font-family: 'Lato';
  color: blue; }

::-webkit-input-placeholder {
  color: blue; }

::-moz-placeholder {
  color: blue;
  font-weight: bold; }

#user-signup label, #user-login label {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px;
  font-family: 'Lato';
  color: white; }

#user-signup button, #user-login button {
  background: rgba(182, 72, 255, 0.7);
  height: 35px;
  padding: 5px 10px;
  margin: 12px 0px 0px 0px;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 1px; }

#user-signup button:hover, #user-login button:hover {
  cursor: pointer; }

.graphic img {
  width: 500px; }

.user-icons {
  width: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.user-icons h4 {
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 400;
  color: white; }

.user-icons a:first-of-type {
  background: #a682ff;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 0px;
  list-style: none;
  font-family: 'Lato';
  border-radius: 50%;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.user-icons img {
  width: 25px;
  height: 25px; }

.user-icons a:last-of-type {
  background: #a682ff;
  margin: 10px;
  padding: 10px 20px;
  list-style: none;
  font-family: 'Lato';
  border-radius: 3px;
  color: white;
  text-decoration: none; }

.footer-container {
  background: #102e4a;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center; }

.footer-wrapper {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer-wrapper p {
  color: white;
  font-size: 15px;
  font-family: 'Lato'; }

.profile-container {
  background: white;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center; }

.profile-wrapper {
  width: 80%;
  min-height: 650px;
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.material-listing {
  background: #f0f0f0;
  width: 250px;
  height: 100px;
  border-radius: 4px;
  margin: 20px 0px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  display: flex;
  justify-content: space-between; }

.material-img {
  width: 100px;
  height: 55px;
  border-radius: 4px 0px 0px 4px; }

.material-img img {
  width: 100px;
  height: 100px;
  border-radius: 4px 0px 0px 4px; }

.material-titles {
  width: 150px;
  float: left; }

.mat-name {
  width: 150px;
  height: 50px;
  float: left; }

.mat-category {
  width: 150px;
  height: 50px;
  float: left; }

.mat-name h5 {
  padding: 0px;
  margin: 10px;
  font-family: 'Lato';
  font-size: 16px;
  color: #b648ff; }

.mat-category h6 {
  padding: 0px;
  margin: 10px;
  font-family: 'Lato';
  font-size: 14px;
  color: #102e4a;
  font-weight: 200; }

.user-actions {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.create-material {
  background: #b648ff;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75); }

.create-material img {
  width: 20px;
  height: 20px; }

.editor-container {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center; }

.editor-wrapper {
  background: green;
  width: 80%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-around; }

.material-editor {
  background: red;
  width: 22%;
  height: auto; }

.preview {
  background: blue;
  width: 50%;
  height: auto; }

.preview-actions {
  width: 6%;
  height: auto;
  float: left;
  padding: 0px 5px 0px 0px; }

.shape {
  width: 100%;
  height: auto; }

.shape:hover {
  cursor: pointer; }

.shape img {
  width: 100%; }

#renderCanvas {
  background: white;
  width: 90%;
  height: 90%;
  float: left;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  border-radius: 4px; }

.material {
  background: #f0f0f0;
  width: 250px;
  border-radius: 4px;
  margin: 0px; }

#mat-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%; }

.material-name {
  background: #fff;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0px 0px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 10px 0px; }

.material-name h5 {
  padding: 0px;
  margin: 10px 0px 0px 0px;
  font-family: 'Lato';
  font-size: 18px;
  color: #b648ff; }

.material-cat {
  background: #fff;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0px 0px 0px;
  padding: 0px; }

.material-cat h5 {
  padding: 0px;
  margin: 0px 0px 0px 10px;
  font-family: 'Lato';
  font-size: 16px;
  color: dimgray; }

.material-props {
  width: 100%;
  height: auto; }

.material-prop {
  background: #fff;
  width: 100%;
  height: 155px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px 5px 0px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75); }

.material-prop img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0px 0px 0px 10px; }

.material-prop p {
  width: 120px;
  font-family: 'Lato';
  font-size: 14px;
  color: black; }

.material-actions {
  background: green;
  margin: 0px 10px 0px 0px;
  display: flex;
  justify-content: space-between; }

.mat-del, .mat-add {
  background: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75); }

.mat-del img, .mat-add img {
  width: 10px;
  height: 10px;
  float: left;
  border-radius: 0px;
  margin: 0px;
  padding: 0px; }

.material-tags {
  background: #fff;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0px 5px 0px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(100, 100, 100, 0.75); }

.material-tags h5 {
  padding: 10px 0px 10px 0px;
  margin: 0px 10px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 400;
  color: #000; }

/*# sourceMappingURL=style.css.map */