@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  font: 'Lato'; }

body {
  padding: 0px;
  margin: 0px; }

a {
  color: #00B7FF; }

.navbar {
  background: #f5f4f4;
  background: #fff;
  width: 100%;
  height: 80px;
  float: left;
  border-bottom: solid 1px gray;
  display: flex;
  justify-content: center; }

.nav-wrapper {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between; }

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo-container img {
  width: 70px;
  height: 70px; }

.logo-container h1 {
  color: rgba(182, 72, 255, 0.7);
  font-family: 'Lato';
  font-size: 38px; }

.nav-wrapper ul {
  height: 80px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-wrapper ul li {
  background: rgba(182, 72, 255, 0.7);
  margin: 10px;
  padding: 10px 20px;
  list-style: none;
  font-family: 'Lato';
  border-radius: 3px;
  color: white; }

.nav-wrapper ul li a {
  text-decoration: none;
  font-family: 'Lato';
  border-radius: 3px;
  color: white; }

.nav-wrapper ul li:hover {
  cursor: pointer; }

.container {
  background: #0077ff;
  background: linear-gradient(90deg, #43167c 0%, #105ac9 50%, #00d4ff 100%);
  width: 100%;
  height: 650px;
  float: left; }

.wrapper {
  width: 80%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.create-account {
  width: 330px;
  height: 420px;
  justify-content: space-around;
  align-items: center;
  overflow: hidden; }

.singup-or-login {
  width: 630px;
  height: 420px;
  display: flex;
  justify-content: space-between; }

.singup-or-login form {
  float: left; }

.create-account h1 {
  color: white;
  font-family: 'Lato';
  font-size: 30px;
  padding: 0px;
  margin: 0px 0px 20px 0px; }

.create-account h3 {
  color: white;
  font-family: 'Lato';
  font-size: 20px;
  padding: 0px;
  margin: 0px 0px 20px 0px; }

#user-signup, #user-login {
  width: 300px;
  height: 400px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column; }

#user-signup input, #user-login input {
  height: 30px;
  margin: 5px 0px 25px 0px;
  padding: 5px 10px;
  border: none;
  border-radius: 1px;
  font-size: 15px;
  font-family: 'Lato';
  color: blue; }

::-webkit-input-placeholder {
  color: blue; }

::-moz-placeholder {
  color: blue;
  font-weight: bold; }

#user-signup label, #user-login label {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px;
  font-family: 'Lato';
  color: white; }

#user-signup button, #user-login button {
  background: rgba(182, 72, 255, 0.7);
  height: 35px;
  padding: 5px 10px;
  margin: 12px 0px 0px 0px;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 1px; }

#user-signup button:hover, #user-login button:hover {
  cursor: pointer; }

.graphic img {
  width: 500px; }

.footer-container {
  background: #3a3a3a;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center; }

.footer-wrapper {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer-wrapper p {
  color: white;
  font-size: 15px;
  font-family: 'Lato'; }

.profile-container {
  background: white;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center; }

.profile-wrapper {
  background: red;
  width: 80%;
  height: 650px; }

/*# sourceMappingURL=style.css.map */