@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
  font: 'Lato';
}

body {
  padding: 0px;
  margin: 0px;
}

a {
  color: #00B7FF;
}

.navbar{
  background: rgb(245, 244, 244);
  width: 100%;
  height: 80px;
  float: left;
  border-bottom: solid 1px gray;
  display: flex;
  justify-content: center;
}

.nav-wrapper{
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.logo-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container img{
  width: 70px;
  height: 70px;
}

.logo-container h1{
  color: rgba(182, 72, 255, 0.7);
  font-family: 'Lato';
  font-size: 38px;
}

.nav-wrapper ul{
  height: 80px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper ul li{
  background: rgba(182, 72, 255, 0.7);
  margin: 10px;
  padding: 10px 20px;
  list-style: none;
  font-family: 'Lato';
  border-radius: 3px;
}

.nav-wrapper ul li a{
  text-decoration: none;
  color: white;
}

.container{
  background: rgb(67,22,124);
  background: linear-gradient(90deg, rgba(67,22,124,1) 0%, rgba(16,90,201,1) 50%, rgba(0,212,255,1) 100%); 
  width: 100%;
  height: 650px;
  float: left;
}

.wrapper{
  width: 80%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.create-account{
  width: 330px;
  height: 360px;
  justify-content: space-around;
  align-items: center;
}

.create-account h1{
  color: white;
  font-family: 'Lato';
  font-size: 30px;
  padding: 0px;
  margin: 0px 0px 20px 0px;
}

#user-login{
  width: 300px;
  height: 400px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

#user-login input{
  height: 30px;
  margin: 5px 0px 25px 0px;
  padding: 5px 10px;
  border: none;
  border-radius: 1px;
  font-size: 15px;
  font-family: 'Lato';
  color: blue;
}

::-webkit-input-placeholder{
  color: blue;
}
::-moz-placeholder {
  color: blue;
  font-weight: bold;
}

#user-login label{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px;
  font-family: 'Lato';
  color: white;
}

#user-login button{
  background: rgba(182, 72, 255, 0.7);
  height: 35px;
  padding: 5px 10px;
  margin: 12px 0px 0px 0px;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 1px;
}

#user-login button:hover{
  cursor: pointer;
}

.graphic img{
  width: 500px;
}
